body{
  background-image: url(hill.jpg);
  background-position: fixed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logn{
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: 15%;
  margin-bottom: 14%;
  margin-top: 15%;
  padding: 10%;
  border-radius: 5%;
  opacity: 0.9;
  padding-right: 11%;
  width: 50%;
  height: 50%;
}
.sec{
  text-align: center;
}
.ps{
  opacity: 0.5;
  margin-top: 1%;
  border-radius: 15px;
  border: none;
  font-size: 100%;
  width: 100%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-weight: bold;
  font-size: 100%;
  color: rgb(0, 87, 180);
}
.ps:hover{
  opacity: 1;
  transition: opacity, 0.15s;
}
.ps:active{
  opacity: 0.4;
}
.tt{
  color: rgb(0, 87, 180);
  font-size: 150%;
  padding-bottom: 0.001%;
}
.bw{
  color: rgb(0, 87, 180);
  font-size: 250%;
  padding-top: 0.001%;
}
.ls{
color: rgb(0, 87, 180);
font-size: 100%;
}
.log{
  background-color: rgb(0, 87, 180);
  border: none;
  margin-top: 5%;
  height: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  color: white;
  width: 25%;
  font-weight: bold; 
  font-size: 120%;
  border-radius: 35%;
  cursor: pointer;
  text-align: center;
}
.seci{
text-align: center;
}
.log:hover{
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.18);
  transition: box-shadow, 0.15s;
  }
,log:active{
  background-color: white;
  color: rgb(0, 87, 180);
  transition: background-color, color, 0.15s;
}
.forg{
  font-weight: bold;
  text-align: center;
  font-size: 120%;
  }
.sig{
  color: rgb(0, 87, 180);
}
.sig:hover{
  color: white;
}